<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home Page</title>
</head>

<body>
  <div class="topnav">
    <a href="/admin">Home</a>
    <a class="active" href="/admin/add">Thêm</a>
    <a href="/admin/update">Sửa</a>
    <a href="/admin/delete">Xóa</a>
  </div>
  <div>
    <form action="/admin/create-shoes" method="POST" enctype="multipart/form-data">
      <fieldset>
        <legend>Thêm sách</legend>
        <label for="name">Tên sản phẩm</label>
        <input type="text" name="name"><br>
        <label for="price">Giá</label>
        <input type="number" name="price"><br>    
        <label for="brand">Nhãn hiệu</label>
        <input type="text" name="brand"><br>
        <label for="country">Xuất xứ</label>
        <input type="text" name="country"><br>    
        <label for="quantity">Số lượng</label>
        <input type="number" name="quantity"><br>
        <label for="discount">Giảm giá</label>
        <input type="number" name="discount"><br>
        <label for="size">Size</label>
        <label for="up_file">Ảnh</label>
        <input type="file" name="image" ><br>
        <button type="submit">Thêm</button>
      </fieldset>
    </form>
  </div>

</body>

</html>