<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Home Page</title>
</head>

<body>
  <div class="topnav">
    <a href="/admin">Home</a>
    <a href="/admin/add">Thêm</a>
    <a href="/admin/update">Sửa</a>
    <a class="active" href="/admin/delete">Xóa</a>
  </div>
  <div>
    <form action="/admin/delete-shoes" method="POST">
      <fieldset>
        <legend>Xóa thông tin sách</legend>
        <label for="id_shoes">Id giày</label>
        <input type="text" name="id_shoes"><br>
        <button type="submit">Xóa</button>
      </fieldset>
  </div>

</body>

</html>