<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/admin/add" method="post" enctype="multipart/form-data">
        <label for="up_file">Ảnh</label>
        <input type="file" name="image"><br>
        <button type="submit" value="Upload">Thêm</button>
    </form>
</body>
</html>